@import "variables"; // TODO eject and change to @use

.navbar {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
  font-size: 1.25rem;

  & > * {
    margin: 0rem 1rem;
    color: inherit;
    text-decoration: none;
  }

  .active {
    color: $accent;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }
}
